@page
@model Resmed.MSP.LSR.UI.Pages.Lookups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lookup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.AppName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.AppName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.FieldName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.FieldName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.FieldValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.FieldValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.DisplayOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lookup.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lookup.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Lookup.AutoId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
