@page
@model Resmed.MSP.LSR.UI.Pages.DowntimeForms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].FormId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].WorkOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].PartNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].MachineNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].ToolNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].Cell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].CycleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].OpsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].DownTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].DownTimeText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].DownDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].DownReasons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].UpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].UpTimeText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].ActionDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].OperatorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].TimeZoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DowntimeForm[0].UpdatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DowntimeForm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownTimeText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownReasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpTimeText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AutoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AutoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
